{% extends 'bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-4  hidden-xs hidden-sm">
                    <script type="text/javascript">
                    localStorage.setItem('token',{{ user_token }})
                    localStorage.setItem('username',{{ username }})
                    localStorage.setItem('friends',{{ friends_count }})
                    localStorage.setItem('photo',{{ photo }})
                    window.location.replace('https://vladtestvk.herokuapp.com/account?auth=true')
                    </script>
            </div></div></div>

{% endblock %}