{% extends 'bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-4  hidden-xs hidden-sm">
                <br>
                <br>
            </div>
            <div class="col-xs-12 col-md-4" align="center">

                {% if is_authenticated %}
                    <script type="text/javascript">
                    photo=document.getElementById("photo");
                    console.log(photo)
                    photo.src=localStorage.getItem("photo");
                    username=document.getElementById("name");
                    console.log(name)
                    username.textContent=localStorage.getItem("username");
                    friends=document.getElementById("friends");
                    console.log(friends)
                    friends.textContent=localStorage.getItem("friends");
                    </script>
                    <img id='photo' src="">
                    <br><br>
                    Добро пожаловать <span id="name"></span>!
                    Кол-во друзей: <span id="friends"></span>

                {% else %}
                    Вы не авторизированы.
                    <br>
                    <a href=https://oauth.vk.com/authorize?client_id=7396296&display=page&redirect_uri=https://vladtestvk.herokuapp.com/callback&scope=friends&response_type=code&v=5.103>Войти с помощью VK</a>
                {% endif %}
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}