{% extends 'bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-4  hidden-xs hidden-sm">
                <br>
                <br>
            </div>
            <div class="col-xs-12 col-md-4" align="center" id="main">

                {% if is_authenticated %}
                    <img id='photo' src="">
                    <br><br>
                    Добро пожаловать <span id="name"></span>!
                    Кол-во друзей: <span id="friends"></span>

                    <script type="text/javascript">
                    photo=document.getElementById("photo");
                    photo.src=localStorage.getItem("photo");
                    username=document.getElementById("name");
                    username.textContent=localStorage.getItem("username");
                    friends=document.getElementById("friends");
                    friends.textContent=localStorage.getItem("friends");
                    </script>
                    <script type="text/javascript">
                    function logout() {
                        localStorage.clear();
                        window.location.replace("https://vktestbranch.herokuapp.com");
                    }
                    function search() {
                        userToken=localStorage.getItem('token');
                        query=document.getElementById("query").value;
                        window.location.replace("https://vktestbranch.herokuapp.com/account/?auth=true&token="+userToken+"&q="+query);

                    }

                    </script>
                    <br>
                    <input type="text" id="query">
                    <button class="btn" onclick="search()">Найти</button>
                    {% for friend in search %}
                        <br>{{ friend.first_name }} {{ friend.last_name }}
                    {% endfor %}
                    <br>
                    <br>
                    <button class="btn-danger" onclick="logout()">Выйти</button>
                {% else %}
                    Вы не авторизированы.
                    <br>
                    <a href=https://oauth.vk.com/authorize?client_id=7396296&display=page&redirect_uri=https://vktestbranch.herokuapp.com/callback&scope=friends&response_type=code&v=5.103>Войти с помощью VK</a>
                {% endif %}
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
